* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: white;
  width:100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  position: fixed;
  width: 100%;
  background: #0a0a0a73;
  opacity: 0.9;
  font-size: 17px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #4f8dffda;
  text-shadow: #4f8cff 0px 0px 10px;
  font-weight: bold;
}

/* Hero */
.hero {
  height: 100vh;
  text-align: center;
width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(circle, rgba(79,140,255,0.3), transparent 70%);
}

.hero h1 {
  font-size: 80px;
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #4f8cff,
    #ff4fd8,
    #4f8cff
  );
  background-size: 300% 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 30s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.abs {
  font-size: 40px;
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #4f8cff,
    #ff4fd8,
    #4f8cff
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 4s ease infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 5px;
  color: white;
}
@keyframes blink {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
.hero-buttons {
  margin-top: 20px;
}
.hero-buttons button {
  font-size: 13px;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  background: linear-gradient(90deg, #4f8cff, #ff4fd8);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}

.btn-outline {
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Sections */
section {
  padding: 100px 10%;
}

/* About */
.about-container {
  display: flex;
  gap: 40px;
  align-items: center;
width: 100%;
}


.about img {
  margin-top: 40px;
  width: 400px;
  border-radius: 15px;
  transition-delay: 0.5s;
  transition: 0.3s ease-in-out;
}
.about h2{
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
.about img:hover{
  box-shadow: 0 0 30px rgba(79,140,255,0.5);
  transition: 0.3s;
  transition-delay: 0s;
}
.about p {
  font-size: 18px;
  line-height: 1.5;
  color: #ccc;
  font-family: 'Inter', sans-serif;
}

.about-text button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(90deg, #4f8cff, #ff4fd8);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 60px;
 
}

/* Education */
. education {
width: 100%;
}
.education h2{
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.education p {
  font-size: 18px;
  line-height: 1.5;
  color: #ccc;
  font-family: 'Inter', sans-serif;
}
.education-container {
  display: flex;
  gap: 50px;
  align-items: center;
}
/* .education-info {
  max-width: 500px;
} */
.education-item
{
  margin-bottom: 30px;
  background: #222;
  padding: 20px;
  border-radius: 8px;
  height: 150px;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
.projects h2{
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.project-card {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  align-items: center;
  margin-left: 140px;
}
.project-card p{
  font-size: 17px;
  color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.project-card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Icons */
.icon-links {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.icon-links a {
  color: white;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.15);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
}

.icon-links a:hover {
  background: #ff3cac;
  transform: scale(1.15);
}

/* Hover Effects */
.project-card:hover img {
  transform: scale(1.12);
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card:hover .icon-links a {
  opacity: 1;
  transform: translateY(0);
}


/* Skills */
.skill {
  margin: 20px 0;
}

.skill-bar {
  height: 9px;
  background: #222;
  border-radius: 10px;
  width: 400px;
}

.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #4f8cff, #ff4fd8);
  border-radius: 10px;
}
.skills h2{
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.skill p {
  margin-bottom: 8px;
  font-size: 15px;
}
.skill-set1, .skill-set2 {
  display: inline-block;
  width: 45%;
  padding: 0 20px;
}
.skill-set2 {
  margin-left: 50px;
  margin-top: 0%;
}

/* Contact */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.forms{
  width: 700px;
}
.forms p{
  font-size: 18px;
  color: #cccccc6a;
  border-radius: 8px;
  width: 800px;
  padding: 25px;
}
.contact-info{
  margin-top: 0px;
  margin-left: 80px;
  font-size: 18px;
  color: #ccc;
  background: #111;
  border-radius: 8px;
  width: 400px;
  padding: 25px;
  gap: 20px;
  height: 200px;
}
.contact-info p {
  margin-bottom: 15px;
}
.contact-info1{
  margin-top: 20px;
  margin-left: 80px;
  font-size: 18px;
  color: #ccc;
  background: #111;
  border-radius: 8px;
  width: 400px;
  padding: 25px;
  gap: 20px;
  height: 135px;
}

.contact-info1 h3 {
  margin-bottom: 10px;
}
.contact-info1 a{
  margin-right: 10px;
  display: inline-flex;
  color: white;
  font-size: 22px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  background: rgba(255, 255, 255, 0.023);
  border-radius: 50%;
  transform: translateY(5px);
}

.contact-info1 a:hover {
  background-color: #434343d5;
  transform: scale(1.15);
}

.contact h2{
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.contact-container {
  display: inline-flex;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #111;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 50px;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
